/* Color variables */

:root {
    --color-dark-blue: #090c1b;
    --color-mantis: #7ac142;
    --color-mantis-darker: #5a803d;
    --color-lighter-blue: #153c6b;
    --color-white: #ffffff;
    --color-floral-white: #f7f6f2;
    --color-black: #000000;
    --color-tomato: #FF6347;
}

/* General Styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

button, input {
    font-family: inherit;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    background-color: var(--color-floral-white);
    position: relative;
    font-family: 'Space Grotesk', sans-serif;
}

body.dark-mode {
    background-color: var(--color-dark-blue);
}

.wrapper {
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 1.3rem;
    margin: 0 auto;
    max-width: 144rem;
}

.heading-1 {
    font-family: 'Goldman', cursive;
    font-size: calc(20px + 18 * ((100vw - 320px) / (1920 - 320)));
    text-align: center;
    margin-bottom: 1.4rem;
}

body.dark-mode .heading-1 {
    color: var(--color-white);
}

@media (min-width: 48em) {
    .heading-1 {
        margin-bottom: 2rem;
    }
}

@media (min-width: 48em) {
    .heading-1 {
        margin-bottom: 3rem;
    }
}

/* Header */

.header {
    padding: 1rem;
    background-color: var(--color-white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1.1rem;
    filter: drop-shadow(0 0 0.35rem var(--color-dark-blue));
}

body.dark-mode .header {
    background-color: var(--color-lighter-blue);
    border-bottom: 2px solid var(--color-mantis);
}

@media (min-width: 62em) {
    .header {
        padding: 1rem 3rem;
        background-color: var(--color-white);
    }
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 5rem;
    height: 5rem;
    background-image: url(../img/logo-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: -1rem -1rem 2rem 2px var(--color-black) inset, 0 0 1rem 2px var(--color-black);
    animation: animateEarth 30s linear alternate infinite;
}

@media (min-width: 62em) {
    .header__logo {
        width: 8rem;
        height: 8rem;
    }
}

.header__dark-mode {}

.header__dark-mode-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(13px + 13 * ((100vw - 320px) / (1920 - 320)));
    font-family: 'Goldman', cursive;
    border: none;
    padding: 1rem 1.2rem;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 1.5rem;
    transition: all .3s ease-in-out;
}

body.dark-mode .header__dark-mode-btn {
    color: var(--color-white);
}

.header__dark-mode-btn:hover {
    border: 2px solid var(--color-dark-blue);
}

.header__dark-mode-icon {
    width: 2rem;
    height: 2rem;
    transition: all .3s ease-in-out;
}

.header__dark-mode-icon--light {
    margin-right: 1.4rem;
    display: none;
}

.header__dark-mode-icon--dark {
    margin-right: 1.4rem;
}

body.dark-mode .header__dark-mode-icon--light {
    display: inline-block;
}

body.dark-mode .header__dark-mode-icon--dark {
    display: none;
    margin-right: 1.4rem;
}

/* Search Block */

.search-block {}

@media (min-width: 48em) {
    .search-block {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 62em) {
    .search-block {
        margin-bottom: 2rem;
    }
}

@media (min-width: 90em) {
    .search-block {
        margin-bottom: 3rem;
    }
}

@media (min-width: 48em) {
    .search-block__body {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 0 2rem;
    }
}

.search-form {
    padding: 1rem;
    background-color: var(--color-white);
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    filter: drop-shadow(0 0 0.35rem var(--color-dark-blue));
}

body.dark-mode .search-form {
    background-color: var(--color-mantis);
    border: 2px solid var(--color-mantis-darker);
}

.search-form__input-search {
    border: none;
    padding: .7rem 0 .7rem 1.5rem;
    width: 100%;
}

body.dark-mode .search-form__input-search {
    background-color: transparent;
    border-bottom: 2px solid var(--color-mantis);
}

@media (min-width: 48em) {
    .search-form__input-search {
        width: 32rem;
    }
}

@media (min-width: 62em) {
    .search-form__input-search {
        width: 40rem;
    }
}

@media (min-width: 75em) {
    .search-form__input-search {
        width: 45rem;
    }
}

.search-form__input-search::placeholder {
    font-size: 1.5rem;
}

body.dark-mode .search-form__input-search::placeholder {
    color: var(--color-black);
}

.dropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.dropdown__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0 0 0.35rem var(--color-dark-blue));
    border: none;
    background-color: var(--color-white);
    padding: 1rem 1.2rem;
    border-radius: 1.5rem;
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
}

body.dark-mode .dropdown__btn {
    background-color: var(--color-mantis);
    border: 2px solid var(--color-mantis-darker);
}

@media (min-width: 48em) {
    .dropdown__btn {
        padding: 1.4rem 3.3rem 1.4rem 2rem;
    }
}

@media (min-width: 62em) {
    .dropdown__btn {
        padding: 1.7rem 5.3rem 1.7rem 2rem;
    }
}

.dropdown__icon {
    width: 1.2rem;
    margin-left: 1rem;
}

.dropdown__list {
    position: absolute;
    top: 5.8rem;
    right: 0;
    padding: 1rem;
    width: 100%;
    background-color: var(--color-white);
    filter: drop-shadow(0 0 0.35rem var(--color-dark-blue));
    border-radius: 1.5rem;
    display: none;
    transition: all .3s ease-in-out;
    margin-bottom: 1rem;
    z-index: 2;
    animation: fade ease-in-out .3s;
}

.dropdown__list.show {
    display: block;
}

body.dark-mode .dropdown__list {
    background-color: var(--color-mantis);
}

@media (min-width: 48em) {
    .dropdown__list {
        top: 6.3rem;
    }
}

.dropdown__link {
    line-height: 2.7rem;
    font-size: 1.6rem;
    color: var(--color-dark-blue);
    transition: all .3s ease-in-out;
}

.dropdown__link:hover {
    color: var(--color-mantis-darker);
    transform: scale(1.02);
}

body.dark-mode .dropdown__link:hover {
    color: var(--color-white);
}

.countries {
    padding-top: 1rem;
    margin: 0 auto;
}

.countries__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.countries__body.error {
    color: var(--color-tomato);
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width: 39em) {
    .countries__body {
        flex-direction: row;
        justify-content: center;
    }
}

.countries__card {
    border: 1px solid var(--color-lighter-blue);
    border-radius: 1.5rem;
    overflow: hidden;
    max-width: 30rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.3);
}

body.dark-mode .countries__card {
    border: 3px solid var(--color-mantis);
}

@media (min-width: 39em) {
    .countries__card {
        margin-right: 1.2rem;
    }

    .countries__card:last-child {
        margin-right: 0;
    }
}

@media (min-width: 48em) {
    .countries__card {
        margin-bottom: 1.6rem;
        min-height: 40rem;
    }
}

@media (min-width: 62em) {
    .countries__card {
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
}

.countries__flag {
    position: relative;
}

.countries__img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.countries__country-info {
    padding: 2rem;
}

body.dark-mode .countries__country-info {
    color: var(--color-white);
}

.countries__country-info > * {
    margin-bottom: 1rem;
}

.countries__country-info > *:last-child {
    margin-bottom: 0;
}

.countries__title {
    font-size: 2rem;
    margin-bottom: 1.9rem;
}

body.dark-mode .countries__title {
    color: var(--color-mantis-darker);
}

.countries__country-feature {
    font-size: 1.4rem;
    font-weight: 700;
}

.countries__country-feature--description {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: .4rem;
}

/* Modal window */
.country-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-floral-white);
    z-index: 5;
    overflow-y: auto;
<<<<<<< HEAD
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.country-modal.show {
    opacity: 1;
    visibility: visible;
=======
>>>>>>> d6ddfcdc5f716c61c08f1ef527dd8b1e3a915052
}

.country-modal__close {
    position: absolute;
    top: -0.2rem;
    right: 1rem;
    border: none;
    font-size: 3rem;
    background-color: transparent;
    transition: all .3s ease-in-out;
}

.country-modal__close:hover {
    transform: scale(1.03);
}

@media (min-width: 39em) {
    .country-modal__close {
        right: 3rem;
        font-size: 4rem;
    }
}

@media (min-width: 48em) {
    .country-modal__close {
        right: 9rem;
        font-size: 5rem;
    }
}

@media (min-width: 75em) {
    .country-modal__close {
        top: 3rem;
        right: 10rem;
        font-size: 6rem;
    }
}

.country-modal__body {
    background-color: var(--color-white);
    filter: drop-shadow(0 0 0.35rem var(--color-dark-blue));
    border-radius: 1.3rem;
    width: 93%;
    max-width: 40rem;
    overflow: hidden;
    border: 2px solid var(--color-dark-blue);
}

@media (min-width: 39em) {
    .country-modal__body {
        width: 100%;
        max-width: 40rem;
    }
}

@media (min-width: 75em) {
    .country-modal__body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        max-width: 80rem;
    }
}

@media (min-width: 90em) {
    .country-modal__body {
        max-width: 90rem;
    }
}

.country-modal__flag {
    position: relative;
    overflow: hidden;
}

@media (min-width: 75em) {
    .country-modal__flag {
        margin-right: 3rem;
        border-radius: 1.5rem;
    }
}

.country-modal__img {
    height: 17rem;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.country-modal__img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (min-width: 39em) {
    .country-modal__img {
        height: 22rem;
    }
}

@media (min-width: 75em) {
    .country-modal__img {
        height: 100%;
        margin-right: 3rem;
        border-radius: 1.5rem;
    }
}

.country-modal__info {
    padding: 1rem;
}

.country-modal__name {
    margin-bottom: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.country-modal__country-info {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
}

@media (min-width: 75em) {
    .country-modal__country-info {
        margin-bottom: 1.7rem;
    }
}

.country-modal__country-info:last-child {
    margin-bottom: 0rem;
}

.country-modal__country-info--description {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
    margin-left: 1rem;
    letter-spacing: 0.06rem;
}

/* Animation */

@keyframes animateEarth {
    100% {
        background-position: 100%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
